<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZ9mixbFwYDo5bPXth5gWSqFIY2W5jpwE</string>
	<key>GCM_SENDER_ID</key>
	<string>777142858602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UM.Water-Reviews</string>
	<key>PROJECT_ID</key>
	<string>waterdb-3d435</string>
	<key>STORAGE_BUCKET</key>
	<string>waterdb-3d435.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777142858602:ios:eac36c9e3c80397b452b13</string>
</dict>
</plist>